body{
    margin: 0px;
    background-color: khaki;
}
.haeder{
    width:auto ;
    height: 100px;
    background-color: aquamarine;
}
  .content-one{
    justify-content: space-between;
    display: flex;
    width: auto;
    height: auto;
    background-color: darkolivegreen;
    flex-wrap: wrap;
   
  }
.block{
    margin: 100px 50px 100px 50px ;
    /* margin: 100px; */
    /* margin-left: 20px ;
    margin-right: 20px;
    margin-top: 100px; */
    /* margin-bottom: 100px; */
    width: 250px;
    height: 250px;
    border: 2px solid;
    background-color: rgb(235, 17, 17);
    border-radius: 150px;
}
.one{
    background-color: chocolate;
}
.two{
    background-color: black;
}
.three{
    background-color: darkblue;
}.fore{
    background-color: greenyellow;
}